  .wishlist-container {
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .wishlist-item {
      display: flex;
      align-items: center;
  }

  .wishlist-item-image {
      flex-shrink: 0;
      margin-right: 20px;

  }

  .wishlist-item-image img {
    width: 100%;
    max-width: 100px;
    height: 100%;
    object-fit: contain;
}

  .wishlist-item-details {
      flex-grow: 1;
  }

  .wishlist-item-details h3 {
      color: #333;
      font-size: 18px;
      margin-bottom: 5px;
  }

  .wishlist-item-details p {
      color: #666;
      font-size: 16px;
  }

  .wishlist-item-price {
      font-size: 16px;
      color: #333;
      font-weight: bold;
  }

  .wishlist-item button {
      padding: 8px 15px;
      background-color: #0056b3;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .wishlist-item button:hover {
      background-color: grey;
  }